div#upload, #customize, #Account {
    float:left;
    clear:left;
    background: #c1bdba;
    padding: 10px;
    width: 300px;
    margin: 10px auto;
    border-radius: 2px;
    box-shadow: 0 2px 5px 2px rgba(19, 35, 47, 0.3);
}

div#gallery {
    float: right;
    width: 72%;
    height: 85%;
    background: #F8F8F8;
    padding: 40px;
    margin: 10px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    flex-wrap: wrap;
    overflow: auto;
}

div#gallery > img {
    
    margin:2.5px;
    height: 40%;
    width: 32%;
    flex-grow: 1;
    object-fit: cover;
    overflow: auto;

}

div#personalgallery {
    float: right;
    width: 72%;
    height: 85%;
    background: #F8F8F8;
    padding: 40px;
    margin: 10px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    flex-wrap: wrap;
    overflow: auto;
}

#imglink > img {
    
    margin:2.5px ;
    height: 40%;
    width: 32%;
    flex-grow: 1;
    object-fit: cover;
    overflow: auto;

}

.selected {
    opacity : 0.5;
}

.img-preview, .style-preview {
    width: 280px;
    height: 210px;
    position: relative;
    border: 1px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em; 
    border-radius: 2px;  
    object-fit: cover; 
}

.img-preview>div, .style-preview>div {
    width: 100%;
    height: 100%;
    background-size: 280px 210px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label, .collapsible{
    display: inline-block;
    padding: 12px 30px;
    background: rgb(30, 88, 77);
    color: #fff;
    font-size: 1.2em;
    transition: all .4s;
    cursor: pointer;
    border-radius: 4px; 
}

.upload-label:hover, .collapsible:hover{
    background: #34495E;
    color: #39D2B4;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#result{
    width: 280px;
    height: 210px;
    position: relative;
    border: 1px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em; 
    border-radius: 2px;   
}

#result>span{
    width: 100%;
    height: 100%;
    background-size: 280px 210px;
    background-repeat: no-repeat;
    background-position: center;
}



  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}
  
/* Style the collapsible content. Note: hidden by default */
.content {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    float: left;
    clear:left;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 2px 5px 2px rgba(19, 35, 47, 0.3);
}




/* .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
 */
